.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;
}

.image {
  height: 400px;
  width: 260px;
  border-radius: 15px;
  object-fit: cover;
  vertical-align: middle;
  filter: brightness(50%);
}

.details {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  bottom: 20px;
  color: white;
}

.name {
  margin-top: -10px;
}
