.main {
  display: flex;
  flex-direction: column;
}

.latestPost {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whatsNew {
  font-size: 65px;
  font-style: italic;
  font-weight: 500;
  max-width: 40rem;
}
