.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

.italic {
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
}

.form {
  display: flex;
  align-items: center;
}

.email {
  padding: 25px;
  width: 350px;
  border: 1px solid gray;
  background-color: rgb(206, 204, 204);
  border-radius: 35px;
  font-size: 18px;
  outline: none;
}

.subscribe {
  position: relative;
  right: 160px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(15, 15, 15);
  color: white;
  font-size: 18px;
}
